<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">投稿を作成する！</h6>
  </div>
  <div class="panel-body">
    <% if @blog.errors.any? %>
      <%= @blog.errors.full_messages %>
    <% end %>
    <%= form_with(model: @blog, local: true, url: confirm_blogs_path) do |form| %>
      <%= form.label :タイトル%><br>
      <%= form.text_field :title%><br>
      <%= form.label :内容%><br>
      <%= form.text_field :content%><br>
      <%= form.label :画像 %>
      <%= form.file_field:image %>
      <%= form.submit "投稿する" %><br>
    <% end %>
  </div>
</div>
<h4><%= link_to "　みんなの投稿を見る！", blogs_path %></h4>

