<h2>投稿記事</h2>
<%= notice %>
<h3>タイトル</h3>
<%= @blog.title%><br>
<h3>内容</h3>
<%= @blog.content%><br>
<h3>イメージ</h3>
<%= image_tag @blog.image.url %>
<%= link_to "編集する",edit_blog_path%><br>
<%= link_to "一覧に戻る", blogs_path%>